In [3]:
# Importing necessary libraries
import pandas as pd
from utils import *

In [4]:
# Hyperparameters and paths

first_execution = False  # Set to True for the first execution to split the excel file

RAW = Path("data/raw/Observations_2012-2025.xlsx")
OUT = Path("data/filtered")

In [5]:
# Run on the first execution to split and save the excel file into multiple csv files
if first_execution:
    print(split_excel_to_csvs(RAW, OUT))

In [6]:
# For following executions, load the csv files directly
dfs = load_csvs(OUT)
for k, df in dfs.items():
    print(f"{k}: {df.shape}")

ESPECES: (86, 5)
GPS-MILIEU: (651, 8)
NOM FRANÇAIS: (114497, 26)

In [12]:
# Visual inspection of dataframes, uncoment as needed
# dfs['ESPECES']
dfs['GPS-MILIEU'].head()
# dfs['NOM FRANÇAIS'].head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,WGS84 UTM 20,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,NaN,NaN,Transect,X,Y,NaN,NaN,NaN
1,NaN,NaN,Aéroport,714593,1614233,Mangrove,S1,SIPI
2,NaN,NaN,Aéroport,714416,1614194,Mangrove,S1,S1P2
3,NaN,NaN,Aéroport,714133,1614141,Mangrove,S1,S1P3
4,NaN,NaN,Aéroport,713914,1614103,Mangrove,S1,S1P4

In [ ]:
# Cleaning dataframes from initial loading issues
clean_especes = clean_especes(dfs["ESPECES"])
clean_gps = clean_gps(dfs["GPS-MILIEU"])

# Saving cleaned dataframes back to csv files
save_clean_csvs({"ESPECES": clean_especes, "GPS-MILIEU": clean_gps}, "data/filtered")

In [11]:
clean_gps

    TRANSECT_NAME COORDINATE_X COORDINATE_Y HABITAT_TYPE TRANSECT_ID POINT_ID
0        Aéroport       714416      1614194     Mangrove          S1     S1P2
1        Aéroport       714133      1614141     Mangrove          S1     S1P3
2        Aéroport       713914      1614103     Mangrove          S1     S1P4
3        Aéroport       713719      1614062     Mangrove          S1     S1P5
4        Aéroport       713559      1614036     Mangrove          S1     S1P6
..            ...          ...          ...          ...         ...      ...
644   Bois Pothau       723470      1626744     Agricole         S65    S65P6
645   Bois Pothau       723445      1626828     Agricole         S65    S65P7
646   Bois Pothau       723427      1626945  Forêt sèche         S65    S65P8
647   Bois Pothau       723481      1627061  Forêt sèche         S65    S65P9
648   Bois Pothau       723598      1627125  Forêt sèche         S65   S65P10

[649 rows x 6 columns]